Name : Shubham Rajesh Dhanwat

Class : TE Computer

Div : B

Roll No : 18

Lab Assignment 3

Download Abalone dataset
Load the data from data file and split it into training and test datasets. Summarize
the properties in the training dataset. The number of rings is the value to predict:
either as a continuous value or as a classification problem.
Predict the age of abalone from physical measurements using linear regression or
predict ring class as classification problem

In [37]:
import pandas as pd

In [39]:
df=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data')

In [40]:
df.head()

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8

#column names not available
#preprossesing recquired

In [41]:
col=['sex','length','diameter','height','weight','sweight','vweight','shweight','rings']

In [42]:
df=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data',names=col)

In [43]:
df.head()

  sex  length  diameter  height  weight  sweight  vweight  shweight  rings
0   M   0.455     0.365   0.095  0.5140   0.2245   0.1010     0.150     15
1   M   0.350     0.265   0.090  0.2255   0.0995   0.0485     0.070      7
2   F   0.530     0.420   0.135  0.6770   0.2565   0.1415     0.210      9
3   M   0.440     0.365   0.125  0.5160   0.2155   0.1140     0.155     10
4   I   0.330     0.255   0.080  0.2050   0.0895   0.0395     0.055      7

In [44]:
df.describe()

,length,diameter,height,weight,sweight,vweight,shweight,rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       4177 non-null   object
 1   length    4177 non-null   float64
 2   diameter  4177 non-null   float64
 3   height    4177 non-null   float64
 4   weight    4177 non-null   float64
 5   sweight   4177 non-null   float64
 6   vweight   4177 non-null   float64
 7   shweight  4177 non-null   float64
 8   rings     4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [46]:
x=df.drop('rings',axis=1) #input
y=df['rings'] #output

In [47]:
x.head()

  sex  length  diameter  height  weight  sweight  vweight  shweight
0   M   0.455     0.365   0.095  0.5140   0.2245   0.1010     0.150
1   M   0.350     0.265   0.090  0.2255   0.0995   0.0485     0.070
2   F   0.530     0.420   0.135  0.6770   0.2565   0.1415     0.210
3   M   0.440     0.365   0.125  0.5160   0.2155   0.1140     0.155
4   I   0.330     0.255   0.080  0.2050   0.0895   0.0395     0.055

In [48]:
set(df['sex'])

{'F', 'I', 'M'}

In [52]:
from sklearn.preprocessing import LabelEncoder 
enc = LabelEncoder()
x['sex'] = enc.fit_transform(df['sex'])

In [53]:
set(x['sex'])

{0, 1, 2}

In [55]:
x.head()

   sex  length  diameter  height  weight  sweight  vweight  shweight
0    2   0.455     0.365   0.095  0.5140   0.2245   0.1010     0.150
1    2   0.350     0.265   0.090  0.2255   0.0995   0.0485     0.070
2    0   0.530     0.420   0.135  0.6770   0.2565   0.1415     0.210
3    2   0.440     0.365   0.125  0.5160   0.2155   0.1140     0.155
4    1   0.330     0.255   0.080  0.2050   0.0895   0.0395     0.055

In [56]:
from sklearn.model_selection import train_test_split

In [58]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0,test_size=0.25)

In [59]:
len(x_train)

3132

In [60]:
len(x_test)

1045

In [61]:
x_train.head()

      sex  length  diameter  height  weight  sweight  vweight  shweight
940     1   0.460     0.345   0.105  0.4490   0.1960   0.0945    0.1265
2688    2   0.630     0.465   0.150  1.0270   0.5370   0.1880    0.1760
1948    2   0.635     0.515   0.165  1.2290   0.5055   0.2975    0.3535
713     2   0.355     0.265   0.085  0.2010   0.0690   0.0530    0.0695
3743    0   0.705     0.555   0.195  1.7525   0.7105   0.4215    0.5160

In [62]:
from sklearn.naive_bayes import GaussianNB

In [66]:
clf=GaussianNB()

In [67]:
#train
clf.fit(x_train,y_train)

GaussianNB()

In [68]:
y_pred = clf.predict(x_test)

In [70]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [72]:
accuracy_score(y_test,y_pred)*100

26.02870813397129

In [74]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           3       0.50      1.00      0.67         7
           4       0.30      0.62      0.40        13
           5       0.27      0.42      0.33        40
           6       0.32      0.43      0.36        63
           7       0.26      0.36      0.30       114
           8       0.27      0.29      0.28       139
           9       0.25      0.30      0.27       152
          10       0.21      0.24      0.23       139
          11       0.26      0.42      0.32       121
          12       0.50      0.01      0.02        93
          13       0.00      0.00      0.00        51
          14       0.00      0.00      0.00        32
          15       0.00      0.00      0.00        22
          16       0.00      0.00      0.00        16
          17       0.00      0.00      0.00        12
          18       0.00      0.00      0.00         6
          19       0.00      0.00      0.00        10
          20       0.00      0.00      0.00         8
          21       0.00      0.00      0.00         2
          22       0.00      0.00      0.00         1
          23       0.00      0.00      0.00         2
          24       0.00      0.00      0.00         1
          27       0.00      0.00      0.00         0
          29       0.00      0.00      0.00         1

    accuracy                           0.26      1045
   macro avg       0.13      0.17      0.13      1045
weighted avg       0.24      0.26      0.22      1045

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

#linear regression

In [76]:
from sklearn.linear_model import LinearRegression

In [77]:
reg = LinearRegression()

In [78]:
reg.fit(x_train,y_train)

LinearRegression()

In [80]:
y_pred = reg.predict(x_test)

In [81]:
y_pred

array([13.10451425,  9.66747548, 10.35605247, ...,  9.95962005,
       12.59111443, 12.18516586])

In [82]:
from sklearn.metrics import mean_absolute_error

In [84]:
mean_absolute_error(y_pred,y_test)

1.5955158378194028